*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-image:url("img/wall.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.layover{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(50, 50, 50,0.3);
  z-index: -1;
}

.clear:after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 1000px;
  margin: auto;
  padding: 10px 0;
}

header{
  width: 100%;
 height:250px;
 background-color: white;
 position: relative;
 border-top-left-radius: 2px;
 border-top-right-radius: 2px;
}

header img{
  width: 98%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/* NAVIGATION MENU */

nav{
  height: 45px;
  text-align: center;
  background-color: #504741;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 2px 2px rgba(0,0,0,0.1);
}

nav .bottoni{
  height: 100%;
  display: inline-block;
}

nav .button{
  color: lightgrey;
  text-shadow: 1px 1px 1px black;
  float:left;
  text-align: center;
  height: 100%;
  padding: 0 10px;
  line-height: 45px;
  border-left: 1px solid grey;
  border-right: 1px solid black;
  cursor: pointer;
}

nav .bottoni :first-child .button{
  border-left: none;
}

nav .bottoni :last-child .button{
  border-right: none;
}

.button:hover{
  background-color: #302B27;
  color:white;
}

.button .fas{
  font-size:10px;
  position: relative;
  bottom: 2px;
}

/* DROPDOWN MENU */

.dropdown{
  position: relative;
  float: left;
}

.dropdown-content{
  display: none;
  position: absolute;
  top:45px;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropItem{
  color: white;
  text-align: left;
  padding-left: 10px;
  width: 170px;
  height: 35;
  line-height: 35px;
  border-bottom: 1px solid grey;
  border-top: 1px solid black;
  background-color: #504741;
  cursor: pointer;
}

.dropItem:hover{
  background-color: #302B27;
}


/* MAIN */

main{
  width: 100%;
  margin-bottom: 10px;
  padding-top: 15px;
}

main a{
 color: limegreen;
 font-style: normal;
 text-decoration: none;
 cursor: pointer;

}

main a:visited , main a:hover{
 text-decoration: underline;
 color: forestgreen;
}

section{
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 10px;
  box-shadow: 2px 2px rgba(0,0,0,0.1);
}

section h1{
  font-family: monospace;
  font-size: 50px;
  color:#504741;
  text-shadow: 2px 2px 4px lightgrey;
}

.side{
  float:left;
}

.side.left{
  width: 27%;
}

.side.center{
  width: 42%;
  margin:  0 2%;
}

.side.right{
  width: 27%;
}

/* LEFT SIDE */

.left .title img{
  margin-top: 10px;
}

.left .title img{
  width:15px;
  position:relative;
  top: 2px;
  margin-right: 5px;
  cursor: pointer;
}

.left .title span:hover{
  color: green;
  cursor: pointer;
}

.left .link{
  margin: 5px 0;
  padding: 10px;
  font-weight: 500;
  font-size: 15px;

}

.left .link:hover{
  background-color: #F5F5F5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid #E2E2E2;
  padding-top: 7px;
  text-decoration: underline;
  color: limegreen;
}

/* CENTRAL SIDE */

.content{
  border-bottom: 1px solid lightgrey;
  margin-bottom:10px;
}

.content p{
  margin: 15px 0;
}

.content img{
  width: 80%;
  border: 1px solid green;
}


/* FOOTER */

footer{
  width: 100%;
  height: 500px;
  line-height: 1.5;
}

footer section{
  height: 100%;
  padding:20px;
}

footer a{
  color: lightgrey;
  text-decoration: none;
  margin-left:10px;
  line-height: 30px;
}

footer a:visited , footer a:hover{
 text-decoration: underline;
 color: grey;
}

footer .part{
  width: 22%;
  float: left;
  margin-left: 3%;
}

footer .part h3{
  font-weight: normal;
  margin-bottom: 20px;
}

footer .row1{
  height: 60%;
}

footer .row2{
  height: 40%;
}

/* ARCHIVE */

footer .archive li{
  font-size: 14px;
  list-style-type: none;
  display: block;
  height: 40px;
  line-height: 30px;
  margin-bottom:10px;
}

footer .archive li:hover{
  background-color: #F5F5F5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid #E2E2E2;
}

.row1{
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

/* COMMENTS */

.comments article{
  margin-bottom: 10px;
}

.comments .pic{
  float:left;
  width: 20%;
  height: 60px;
  position: relative;
}

.comments .pic > img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.comments .comm{
  float:left;
  width: 80%;
  font-size: 14px;
}

/* WIDGET */

.widget p{
  font-size: 14px;
}

/* SEARCH */

.search input{
  width: 75%;
  float:left;
  height:35px;
  line-height:35px;
  box-shadow: inset 1px 1px 4px 0px;
  padding-left: 5px;
  font-weight: 600;
  background-color: whitesmoke;
}

.search button{
  width: 35px;
  height: 35px;
  float:right;
  background-color: #706760;
  color: lightgrey;
  border-radius: 3px;
}

.search input::placeholder{
  font-weight: 600;
}

/* ROW2 */

  /* SOCIAL */

.row2{
  position: relative;
}

.row2 a{
  font-size: 14px;
  position: relative;
  top: 30px;
  left: 30px;
}

.row2 .social{
  position: absolute;
  bottom:10px;
  right: 10px;
  display: inline-block;
}

.social .item{
  color: #9C9C9C;
  float:left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #f0f0f0;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
}

.social .item:hover{
  width: 42px;
  height: 42px;
  line-height: 42px;
  color: grey;
  background: white;
  border: 1px solid #f0f0f0;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
}
