*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-image:url("img/wall.jpg");
  background-size: cover;
  background-attachment: fixed;
}

a{
  color: limegreen;
  font-style: normal;
  text-decoration: none;
}

a:visited, a:hover{

  text-decoration: underline;
  color: forestgreen;
}

.layover{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(50, 50, 50,0.3);
  z-index: -1;
}

.clear:after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 1000px;
  margin: auto;
  padding: 10px 0;
}

header{
  width: 100%;
 height:250px;
 background-color: white;
 position: relative;
 border-top-left-radius: 3px;
 border-top-right-radius: 3px;
}

header img{
  width: 98%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/* NAVIGATION MENU */

nav{
  height: 45px;
  background-color: yellow;
  text-align: center;
  background-color: #504741;
  font-size: 12px;
  font-weight: 500;
}

nav .bottoni{
  height: 100%;
  display: inline-block;
}

nav .button{
  color: lightgrey;
  text-shadow: 1px 1px 1px black;
  float:left;
  text-align: center;
  height: 100%;
  position: relative;
  padding: 0 10px;
  line-height: 45px;
  border-left: 1px solid grey;
  border-right: 1px solid black;
  cursor: pointer;
}
nav .bottoni :first-child{
  border-left: none;
}

nav .bottoni :last-child{
  border-right: none;
}

.button:hover{
  background-color: #302B27;
  color:white;
}

.button .fas{
  font-size:10px;
  position: relative;
  bottom: 2px;
}

/* MAIN */

section{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

section h1{
  font-family: monospace;
  font-size: 50px;
  color:#504741;
  text-shadow: 2px 2px 4px lightgrey;
}

main{
  width: 100%;
  margin-bottom: 10px;
  padding-top: 15px;
}

.side{
  float:left;
}

.side.left{
  width: 27%;
}

.side.center{
  width: 42%;
  margin:  0 2%;
}

.side.right{
  width: 27%;
}

/* LEFT SIDE */

.left .title img{
  margin-top: 10px;
}

.left .title img{
  width:15px;
  position:relative;
  top: 2px;
  margin-right: 5px;
  cursor: pointer;
}

.left .title span:hover{
  color: green;
  cursor: pointer;
}

.left .link{
  margin: 5px 0;
  padding: 10px;
  font-weight: 500;
}

.left .link:hover{
  background-color: #F5F5F5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid #E2E2E2;
  padding-top: 7px;
  text-decoration: underline;
}

/* CENTRAL SIDE */

.content{
  border-bottom: 1px solid lightgrey;
  margin-bottom:10px;
}

.content p{
  margin: 15px 0;
}

.content img{
  width: 80%;
  border: 1px solid green;
}


/* FOOTER */

footer{
  width: 100%;
  height: 300px;
}
